<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>
<div class="form-style-5">
    <form action="/templates/prepare/{{folderName}}" method="POST" name="myForm">
        <fieldset>
            <legend><span class="number">1</span> Project owner info</legend>
            {{#parameters}}
                <input type="text" name="{{name}}" placeholder="{{title}}">
            {{/parameters}}
        </fieldset>
        <input type="submit" value="Apply" />
    </form>
</div>
</body>
</html>