<html lang="en">
<head>
    <title>Project downloading</title>
</head>
<body>
    <h1>Download a template project {{info.title}}</h1>
    <p><a href="/templates/get/{{info.folderName}}">Download</a></p>
</body>
</html>